@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-Medium.eot');
    src: url('Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
        url('Ubuntu-Medium.woff2') format('woff2'),
        url('Ubuntu-Medium.woff') format('woff'),
        url('Ubuntu-Medium.ttf') format('truetype'),
        url('Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.hub_menu{
background-color: black;
}
