.section__about {
    background: url("../../images/bg/bgwe.png") center center / cover no-repeat;
    color: var(--title);
}

.cards__item-icon {
    width: 6.5rem;
    height: 6.5rem;
    padding: 1.5rem;
}

.hand {
    padding-left: 2.4rem;
}

.about__container {
    flex-direction: column;
}

.cards__wrapper {
    display: flex;
}

.cards__item {
    font-size: 1.29rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:  calc(100% - 2rem);
    color: var(--text-gray);
}

.cards__item{
    padding: 1.5rem 1rem;
}

.card__item-text {
    text-align: center;
    color: gray;
}

h3.section__subtitle {
    font-size: 1.8rem;
    width: calc(100% - 3rem);
    text-align: center;
}