.section__order {
    background: url("../../images/bg/form.png") center center / cover no-repeat;
}

.container__order {
    flex-direction: column;
}

.order__form {
    display: flex;
    width: 80%;
}

.order__form > * {
    flex: 1;
}

.wrapper {
    width: 100%;
}

.form__row {
    display: flex;
    margin-bottom: 18px;
}

.form__row__buttons {
    display: flex;
    margin-bottom: 18px;
}

textarea.input {
    height: 80px;
    width: 100%;
}

.input__wrapper--radio,
.input__wrapper--checkbox {
    display: flex;
    flex-direction: row-reverse;
    padding: 12px;
}

.buttom__format {
    position: relative;
    opacity: 1;
    width: 16px;
    height: 16px;
}

.textformat{
    padding-left: 16px;
    vertical-align: middle;
}