.section__order {
    background: url("../../images/bg/form.png") center center / cover no-repeat;
}

.container__order {
    flex-direction: column;
}

.order__form {
    display: flex;
    width: 70vw;
}

.order__form > * {
    flex: 1;
}

.wrapper {
    width: 100%;
}

.form__row {
    display: flex;
    margin-bottom: 1.78rem;
}

.form__row__buttons {
    display: flex;
    margin-bottom: 1.78rem;
}

textarea.input {
    height: 6rem;
    width: 100%;
}

.input__wrapper--radio,
.input__wrapper--checkbox {
    display: flex;
    flex-direction: row-reverse;
    padding: 0.67rem;
}

.buttom__format {
    width: 1.4rem;
    height: 1.4rem;
    color: var(--button);
}

.textformat{
    padding-left: 1.12rem;
    vertical-align: middle;
}