.section__preview {
    background: url("../../images/bg/bg.png") center center / cover no-repeat;
}

.preview__image {
    position: relative;
    padding: 2rem;
}

.preview__image-burger{
    width: 25.056rem;
    height: 23.56rem;
}

.btn__arrow-down {
    background: transparent;
    position: absolute;
    top: 55rem;
}
