.section__preview {
    background: url("../../images/bg/bg.png") center center / cover no-repeat;
    position: relative;
}

.preview__image {
    position: relative;
    padding: 12px;
}

.preview__image-burger{
    width: 100%;
    height: auto;
    max-height: 400px;
}

.btn__arrow-down {
    background: transparent;
    position: absolute;
    bottom: 2%;
}
