.dot_nav{
    position: fixed;
    display: flex;
    right: 3vw;
    top: 40vh;
}

.dot_list{
    flex-direction: column;
    justify-content: space-between;
    vertical-align: 100%;
}

.dot_item{
    height: 0.45rem;
    width: 0.45rem;
    padding: 0.40rem;
    border-radius: 50%;
    background: rgb(255, 255, 255) content-box;
    margin: 0.6rem;
}

.dot_item:active{
box-shadow: 0 0 0 1px inset var(--white);
}