.dot_nav{
    display: flex;
}

.sidebar{
    position: fixed;
    top: 40%;
    right: 3vw;
    z-index: 1;
}

.dot_list{
    flex-direction: column;
    justify-content: space-between;
    vertical-align: 100%;
}

.dot_item {
    transition: 0.9s;
    height: 8px;
    width: 8px;
    padding: 0.40rem;
    border-radius: 50%;
    background: rgb(255, 255, 255) content-box;
    margin: 0.6rem;
}

.dot_item.active {
box-shadow: 0 0 0 1px inset var(--white);
}

.dot_list.dark .dot_item {
    background: black content-box;
}

.dot_item.dark.active {
    background: black content-box;
    box-shadow: 0 0 0 1px inset black;
}