.section__team {
    background: url("../../images/bg/teambg.png") center top / cover no-repeat;
    justify-content: end;
}

.team__container {
    flex-direction: column;
    justify-content: end;
    padding: 0 150px;
    height: 100%;
    background-color: rgba(29, 29, 29, 0.822);
}

.accordion {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.round {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.triangle {
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: 0;
    border-bottom: 12px solid rgb(255, 166, 0);
}

.card__name {
    display: flex;
    flex-direction: column;
}

.card__name-about {
    display: flex;
    flex-direction: row;
}

.card__name-text {
    padding-left: 50px;
    width: 70%;
}