@import "utils/index.css";
@import "blocks/index.css";

html{
    font-size: 18px;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--white);
}

button {
    cursor: pointer;
    border: none;
}

p {
    font-weight: 300;
}

body {
    font-family: Ubuntu, serif;
    color: var(--white);
}

body.lock {
    overflow: hidden;
}

.btn {
    text-transform: uppercase;
    color: white;
    padding: 0.75rem;
    border-radius: 0.5rem;
}

.btn.menu__burger {
    padding-left: 0px;
    padding-right: 20px;
}

.btn.exit__btn {
    padding-left: 0px;
    padding-right: 20px;
}

.btn.slider {
    padding: 8px 0 0 0;
}

.btn__warning {
    background: var(--button);
}

.btn__transparent {
    text-transform: capitalize;
    background: transparent;
}

.input__wrapper {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}

label {
    padding-bottom: 5px;
}

label:first-letter {
    text-transform: uppercase;
}

input.input {
    margin-top: 0.33rem;
    padding: 0.33rem;
    border-radius: 0.4rem;
    width: 100%;
    outline:none;
    border: 0.13rem transparent solid;
}

input.input:focus{
    border: 0.13rem solid var(--title);
}

textarea {
    outline:none;
    resize: none;
    border-radius: 0.44rem;
    padding: 0.33rem;
    border: 0.13rem transparent solid;
}

textarea:focus{
    border: 0.13rem solid var(--title);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.section {
    height: 100vh;
    min-height: 896px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__title {
    font-family: Gagalin, sans-serif;
    color: var(--title);
    font-size: 5rem;
    margin-block-start: 10px;
    margin-block-end: 30px;
}

.section__subtitle {
    font-family: Lifehack, sans-serif;
    font-size: 3rem;
    margin: 0 auto;
    width: 99%;
}

.orange{
    color: var(--button);
    font-weight: bold;
}

.warning{
    color: var(--button)
}

.burger__title{
    color: var(--white);
    margin-bottom: 40px;
}

h4 {
    font-size: 1.4rem;
    padding: 0 20px;
    transition: 0.3s;
}

h5 {
    font-size: 1.2rem;
}

.consist__list-item span {
    text-transform: capitalize;
    color: var(--black);
}

.section__menu {
    justify-content: unset;
    align-items: unset;
}

@media (min-width: 1px){

    html {
        font-size: 12px;
    }

    .food__item h2 {
        font-size: 1.5rem;
    }

    .consist {
        width: 200px;
    }

    .slider__item-block {
        justify-content: center;
    }

    .header .list__item,
    .sidebar,
    .btn__secondary,
    .feedback__text {
        display: none;
    }

    .preview__container,
    .cards__wrapper,
    .order__form{
        flex-direction: column;
    }

    .section__title, 
    .section__subtitle {
        text-align: center;
    }

    .cards__item {
        flex-direction: row;
    }

    .card__item-text,
    h3.section__subtitle {
        text-align: start;
    }

    .section__subtitle {
        margin: 0 0;
    }

    .feedback-card {
        width: calc(100% / 2); 
        height: calc(100% / 4);
    }

    .feedback-card__content {
        align-items: center;
    }

    .btn__mobile_vers, 
    .menu__burger {
        display: block;
    }

    .form__row__buttons,
    .form__row {
        justify-content: center;
    }

    .container.footer__container {
        justify-content: center; 
        flex-direction: column; 
        text-align: center;
    }

    .burger_img {
        width: 265px;
    }

    .accordion {
        margin: 0 auto;
    }

    .section__team {
        justify-content: center;
    }
    
    .team__container {
        margin: 0 auto;
        align-items: center;
        width: 100%;
        padding: 0 0;
    }

    .card__name-about {
        flex-direction: column;
        align-items: center;
    }

    .card__name-text {
        text-align: center;
        padding-left: 0px;
    }

}

@media (min-width: 768px){

    html {
        font-size: 12px
    }

    .btn__mobile_vers {
        display: none;
    }

    .cards__wrapper{
        flex-direction: row;
    }

    .card__item-text,
    h3.section__subtitle {
        text-align: center;
    }

    .section__subtitle {
        margin: 0 auto;
    }

    .cards__item {
        flex-direction: column;
    }
    
    .feedback__text {
        text-align: center; 
        font-size: 1.2rem;
    }

    h5.section__title {
        font-size: 1.3rem; 
        margin-block-start: 0.5rem; 
        margin-block-end: 0.5rem;
    }

    p {
        margin-block-start: 0.5rem; 
        margin-block-end: 0.5rem;
    }

    .menu__burger, 
    .btn__secondary,
    .feedback__text {
        display: block;
    }

    .burger_img {
        width: 400px;
    }

}

@media (min-width: 992px){
   
    html {
        font-size: 13px;
    }

    .food__item h2 {
        font-size: 2.5rem;
    }

    .consist {
        width: 250px;
        height: 360px;
    }

    .consist__list-item img {
        width: 48px;
        height: 48px;
    }

    .preview__container,
    .order__form {
        flex-direction: row;
    }

    .form__row__buttons,
    .form__row {
        justify-content: start;
    }

    .container.footer__container {
        justify-content: space-between; 
        flex-direction: row; 
        text-align: start;
    }

    h2.section__subtitle, 
    .section__title {
        text-align: start;
    }

    .header .list__item,
    .sidebar {
        display: block;
    }

    h5.section__title {
        font-size: 2rem; 
        margin-block-start: 0.5rem; 
        margin-block-end: 0.5rem;
    }

    .feedback__text {
        text-align: start; font-size: 1.2rem;
        margin-block-start: 1rem; 
        margin-block-end: 3rem;
    }

    .feedback-card__content {
        align-items: flex-start;
    }

    .menu__burger {
        display: none;
    }

    .feedback-card {
        width: calc(100% / 4); 
        height: calc(100% / 2);
    }

    .slider__list .list__item-burger, .slider__item-header {
        flex-direction: row;
    }

    .slider__item-block {
        justify-content: start;
    }

    .slider-text{
        text-align: start;
    }

    .burger-btns{
        flex-direction: column;
    }

    .burger_img{
        width: 500px;
    }

    .section__team {
        justify-content: end;
    }
    
    .team__container {
        margin: 0 0;
        align-items: start;
        padding: 0 0 0 100px;
        width: 45%;
    }

    .card__name-about {
        flex-direction: row;
    }

    .accordion {
        margin: 0 0;
    }

    .card__name-text {
        text-align: start;
        padding-left: 20px;
    }
}

@media (min-width: 1201px){

    html{
        font-size: 15px;
    }

    .burger_img{
        width: 600px;
    }
}